.bg {
    background-image: url('~@/assets/images/bg/dog01.png');
    width: 100%;
    height: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include mobile {
        background-size: auto auto;
        background-color: #edeef0;
    }
}

.about_me {
    .about_me_content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: start;
        .about_me_item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            height: 1700px;
            position: relative;
            text-align: start;
            .about_me_item_txt {
                background-color: rgba(235, 235, 15, 0.2);
                display: inline-block;
                text-align: left;
                width: 30%;
                height: 30%;
                max-width: 400px;
                max-height: 400px;
                border-radius: 50%;
                padding: 30px;
                @include tablet {
                    width: 100%;
                    height: 100%;
                    max-height: 300px;
                    max-width: 300px;
                }
            }
        }
    }
}
.about_me {
    .title {
        padding: 100px 0px;
        text-align: center;
    }
    h3 {
        padding: 10px 0px;
        display: inline-block;
        border-bottom: 4px dotted brown;
    }
    p {
        word-break: break-all;
        width: 95%;
    }
}
//核心理念
.business_concept {
    position: absolute;
    left: 20%;
    @include tablet {
        top: 3%;
    }
    @include pad {
        top: -3%;
        left: 10%;
    }
    @include mobile {
        top: 6%;
        left: 10%;
    }
}
//營運的經費來源
.fund {
    position: absolute;
    top: 20%;
    right: 10%;
    @include tablet {
        top: 65%;
    }
    @include pad {
        top: 68%;
    }
    @include mobile {
        top: 60%;
        left: 3%;
    }
}
//困難點
.difficult_point {
    position: absolute;
    left: 25%;
    bottom: 2%;
    @include tablet {
        left: 10%;
    }
    @include pad {
        left: 10%;
        bottom: -2%;
    }
    @include mobile {
        right: 3%;
        bottom: 1%;
    }
}
