/* 前導文字 */
.lead_text {
  text-align: center;
  margin: 150px 0px 56px 0px;
}

.adopt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}

.adoptBox {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 35% auto 35%;
  grid-template-rows: 500px 500px 500px 500px;
  grid-auto-flow: row;
  gap: 15px 15px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1000px;
  @include tablet {
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 500px 500px 500px 500px;
    gap: 10px 10px;
  }
  @include pad {
    grid-template-columns: 700px;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
    gap: 10px 10px;
    grid-auto-flow: column;
  }
  @include mobile {
    grid-template-columns: 700px;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px 500px;
    gap: 10px 10px;
    grid-auto-flow: column;
  }
}

/* 照片與描述文字的外邊框 */
.adoptBoxContent {
  border: 1px solid #928f8f;
  border-radius: 10px;
  width: 300px;
  height: 530px;
  position: relative;
  @include tablet {
    margin-bottom: 10px;
  }
}

/* 照片留空間，不貼邊 */
.adoptBoxContent {
  img {
    padding: 10px;
  }
}
.picContent {
  display: flex;
  flex-direction: column;
  height: auto;
}
/* 待認養動物描述文字區塊 */
.picContent_detail {
  text-align: start;
  padding: 5px;
  max-width: 90%;
  max-height: 500px;
  line-height: 30px;
}

/*我要預約按鈕樣式設定-改成這樣試試看*/
.adoptBtn {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 15%;
  padding: 12px;
}
.adoptBtn {
  button {
    @include adoptBtn;
  }
}

/* 分頁 */
.adopt_pagination_box {
  display: flex;
  margin: 50px auto;
}
.adopt_pagination_box {
  ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
}
.pagination {
  li {
    display: inline;
  }
  a {
    border: 1px solid #9e9a9a;
    border-radius: 15px;
    color: rgb(50, 50, 51);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 28px;
    transition: background-color 0.3s;
    margin: 0 3px;
  }
}

.adopt_pagination_box {
  a.active {
    background-color: rgb(230, 178, 111);
    color: #ffffff;
    border-radius: 15px;
  }
  a:hover:not(.active) {
    background-color: rgb(230, 178, 113);
  }
}

/* 加入分頁選擇器 */
#adoptDogPage1:target,
#adoptDogPage2:target,
#adoptDogPage3:target {
  border: solid 1px red;
}
#adoptCatPage1:target,
#adoptCatPage2:target,
#adoptCatPage3:target {
  border: solid 1px red;
}
#adoptRabbitPage1:target,
#adoptRabbitPage2:target,
#adoptRabbitPage3:target {
  border: solid 1px red;
}
#adoptGuineapigPage1:target,
#adoptGuineapigPage2:target,
#adoptGuineapigPage3:target {
  border: solid 1px red;
}
#adoptHamsterPage1:target,
#adoptHamsterPage2:target,
#adoptHamsterPage3:target {
  border: solid 1px red;
}

/* 認養鼠鼠內在區分兩種分頁:天竺鼠、倉鼠 */
#adoptRodentPage1:target,
#adoptRodentPage2:target {
  border: solid 1px red;
}

/* 天竺鼠跟倉鼠的的分頁選擇器 */
.adopt_pagination_box_selecter {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  ul.pagination_selecter {
    display: flex;
    padding: 0;
    margin: 0 auto;
    color: #575554;
  }
}

.adopt_pagination_box_selecter {
  li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0px 10px;
  }
}
.adopt_pagination_box_selecter {
  a.active {
    background-color: rgb(230, 178, 111);
    border-radius: 20px;
    border: 1.5px solid #c4c4c4;
  }
  a:not(active) {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1.5px solid #c4c4c4;
  }
  a:hover {
    border: 1.5px solid #858080;
  }
}

.adopt_pagination_box_selecter {
  p {
    color: #575554;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    margin: 0px 10px;
  }
}
