.item_header {
  display: flex;
  width: 1000px;
  /* 上下 左右 */
  margin: 0 auto;
  height: 30px;
  background-color: #fff;
  border-radius: 3px;
}

.item_header {
  min-height: 150px;
  width: 100%;
  @include tablet {
    display: flex;
  }
  div {
    border-bottom: 1px solid rgb(216, 212, 212);
    width: 200px;
    color: #888;
    line-height: 30px;
    height: 35px;
    padding: 5px;
    @include tablet {
      width: 100%;
    }
  }
}

.item_body {
  margin-top: 20px;
  height: 100px;
  align-items: center;
}

.item_detail {
  img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    float: left;
  }
}

.container {
  padding: 10px;
}
