body {
    // font-family: 'jf-openhuninn', 'M PLUS Rounded 1c', 'NotoSansTC', 'Microsoft JhengHei', 'Verdana', 'sans-serif';
    font-family: 'jf-openhuninn'; //粉圓體
    font-size: 20px;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 26px;
    color: #000000;
}
h3 {
    font-size: 24px;
    color: #000000;
}
h4 {
    font-size: 22px;
    line-height: 40px;
}
h5 {
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 20px;
    line-height: 35px;
}
