.footer {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  bottom: 0;
  font-weight: 500;
  color: #ffffff;
}

.footer_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.footer_box {
  background-image: url('~@/assets/images/bg/grass09.jpg');
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 600px;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
}

.footer_box_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 80px;
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
  }
}

.footer_box_logo {
  a {
    img#logo {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      padding: 5px;
      width: 100px;
      height: 80px;
    }
  }
}

.footer_info_box {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0%;
  @include tablet {
    margin: 10px 10px;
    justify-content: center;
  }
}

.footer_info {
  width: 600px;
  @include mobile {
    max-width: 300px;
  }
}

.footer_icon {
  display: flex;
  margin-bottom: 10px;
  @include tablet {
    justify-content: center;
  }
}

.footer_box_content_box_img {
  display: flex;
  margin: 0px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  img {
    content: '';
    width: 30px;
    height: 30px;
    padding: 3px;
  }
}
.footer_box_content_box_img {
  a {
    img {
      content: '';
      width: 30px;
      height: 30px;
      padding: 3px;
    }
  }
}
.footer_box_main_box {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: center;
  vertical-align: middle;
}

.footer_box_content_box_img {
  a {
    width: 100%;
    height: 100%;
  }
  img {
    content: '';
    width: 30px;
    height: 30px;
    margin: 10px;
  }
}

.footer_statement {
  @include tablet {
    width: 100%;
  }
  @include mobile {
    display: flex;
  }
  p {
    @include tablet {
      max-width: 992px;
      width: 100%;
      padding: 10px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
}
