/* 清晰背景圖 */
.backgroung_cover {
  background-image: url(~@/assets/images/bg/user_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-position: center center;
  object-fit: cover;
}
/* 登入會員 */
.user_box {
  display: flex;
  @include tablet {
    padding: 20px;
  }
}

.user_logIn {
  display: flex;
  margin-top: 200px;
}
/* 註冊會員 */
.user_signIn {
  display: flex;
  margin-top: 200px;
}
.user {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-color: transparent;
  border-radius: 30px;
  padding: 20px;
  background-color: rgba(255, 242, 220, 0.3);
  width: 100%;
  max-width: 400px;
}

.user_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
  input.user_form_input {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    max-width: 600px;
    width: 100%;
    border-color: transparent;
  }
}
.user_title {
  font-size: 24px;
}

.user_external_connection {
  display: block;
  height: 30px;
  font-size: 20px;
}

.user_social_meadia_icons {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.social_meadia_icons_item {
  a {
    img {
      width: 30px;
      margin: 5px;
    }
  }
  &:hover {
    padding: 1.5px;
  }
}

.user_signin_icons_box {
  img {
    width: 30px;
  }
}

.user_signin_box {
  width: 100%;
  height: 100px;
}

.user_signin_text {
  margin: 10px 0px;
}

.footer {
  margin-top: 0px;
}
.user_button {
  @include button;
}
