body {
    background: rgba(0, 0, 0, 0.2);
}

.item_header {
    display: flex;
    width: 1000px;
    /* 上下 左右 */
    margin: 0 auto;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 10px;
}

/* 底下所有的div */
/* ~所有的兄弟  +隔壁一個兄弟 */
.item_header div {
    width: 200px;
    color: #888;
    /* 置中 */
    line-height: 30px;
}

.item_header .item_detail {
    width: 50%;
}

.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
}

.item_detail img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    float: left;
}
